@import "tailwindcss";

@layer theme {
  :root {
    --background: #f9fafb;
    /* gray-50 */
    --foreground: #111827;
    /* gray-900 */
  }
}

/* Custom base styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}